{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/javascripts/forum/channel.js"></script>
{{/content}}

<div class="main">
    <div class="breadcrumbs">
        <a href="{{siteurl}}">{{sitename}}</a>
        <i> &gt; </i>
        <a href="/channel/{{current.id}}">{{current.name}}</a>
    </div>
    <div class="channel-panel">
        {{#each topics}}
        <div class="item">
            <a class="title" href="/topic/{{id}}">{{title}}</a>
            <div class="count">{{count}}</div>
            <div class="author">
                <a href="/user/{{user_id}}" target="_blank">{{user_name}}</a>
                <span class="created">{{created}}</span>
            </div>
            <div class="lastpost">
                <a href="/user/{{lastpost_user.id}}" target="_blank">{{lastpost_user.name}}</a>
                <div class="created">{{__ 'last post at %s' lastpost_time}}</div>
            </div>
        </div>
        {{/each}}
        <ul class="pagination">
            <li class="page">
                <a href="1"><i class="icon-double-angle-left"></i></a>
            </li>
            <li class="page">1</li>
            <li class="page"><a href="/channel/1/2">2</a></li>
            <li class="page"><a href="/channel/1/3">3</a></li>
            <li>...</li>
            <li class="page">
                <a href="/channel/1/{{totalPage}}"><i class="icon-double-angle-right"></i></a>
            </li>
        </ul>
    </div>
</div>