{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/user_libraries/pagination/pagination.js"></script>
<script src="/javascripts/forum/channel.js"></script>
{{/content}}

<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i> &gt; </i>
        <a href="/channel/{{channel.id}}">{{channel.name}}</a>
    </div>
    <div class="user-panel">
         <form id="channel-password" class="channel-password">
            <input type="hidden" name="channelId" value="{{channel.id}}" />
            <label>{{__ 'Input channel password'}}:
                <input type="text" name="password" />
            </label>
            <p><button class="button">{{__ 'Submit'}}</button></p>
        </form>
    </div>
</div>