{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/javascripts/forum/index.js"></script>
{{/content}}

<div id="main" class="main">
    {{!-- category --}}
    {{#each channels}}
    <div class="forum-category">
        <h4>{{name}}</h4>
        {{!-- channel --}}
        <div class="forum-channel">
            {{#each channels}}
            <div class="item">
                <a class="name" href="/channel/{{id}}">{{name}}</a>
                <div class="description">
                    <span class="count" title="{{__ 'Topics Count'}}"><i class="icon-align-justify"></i> {{count}}</span>
                    <span class="lasttime">{{lastpost_time}}</span>
                    <div class="clear"></div>
                </div>
            </div>
            {{/each}}
            <div class="clear"></div>
        </div>
    </div>
    {{/each}}
</div>