{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/user_libraries/pagination/pagination.js"></script>
<script src="/javascripts/forum/message.js"></script>
{{/content}}

<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i class="icon-chevron-right"></i>
        <a href="javascript:;">{{__ 'Message'}}</a>
    </div>
    <div id="message-list" class="message-panel">
        <ul id="pagination" class="pagination" data-current="1" data-total="{{total}}" data-size="{{size}}"></ul>
    </div>
</div>
<script id="message-list-template" type="text/template">
    <div class="item" data-id="${id}">
        <div class="left-panel">
            <a class="title" href="/message/${id}">${title}</a>
        </div>
        <div class="right-panel">
            <a class="from" href="/user/${from_user.id}" target="_blank">${from_user.name}</a>
            <span class="created">${created}</span>
            <div class="setting">
                <a href="javascript:;" class="delete icon-trash"></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</script>