{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/user_libraries/tinymce/tinymce.pkg.js"></script>
<script src="/user_libraries/tinymce/editor.js"></script>
<script src="/javascripts/forum/message.js"></script>
{{/content}}

<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i class="icon-chevron-right"></i>
        <a href="/message/all">{{__ 'Message'}}</a>
    </div>
    <div class="message-content-panel">
        <div class="title">{{message.title}}</div>
        <div class="author">
            <div class="avatar"><img src="/user/avatar/{{message.from_user.id}}" width="32" height="32"></div>
            <a class="name" href="{{message.from_user.id}}" target="_blank">{{message.from_user.name}}</a>
            <div class="created">{{message.created}}</div>
        </div>
        <div class="content">{{{message.content}}}</div>
    </div>
    <div class="message-post-panel">
        <form id="message-post" method="post" action="/">
            <input type="hidden" name="to_user" value="{{message.from_user.id}}" />
            <input type="text" class="title" name="title" value="Re:{{message.title}}" />
            <div class="message-editor">
                <textarea id="reply" name="content"></textarea>
            </div>
            <div class="row">
                <button class="button" type="submit">{{__ 'Reply'}}</button>
            </div>
        </form>
    </div>
</div>