{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/user_libraries/tinymce/tinymce.pkg.js"></script>
<script src="/user_libraries/tinymce/editor.js"></script>
<script src="/user_libraries/pagination/pagination.js"></script>
<script src="/javascripts/forum/message.js"></script>
{{/content}}

<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i> &gt; </i>
        <a href="javascript:;">{{__ 'Message'}}</a>
    </div>
    <form id="message-post" class="message-post-panel" method="post" action="/">
        <input type="hidden" name="to_user" value="{{target.id}}" />
        <div class="row">
            <label> 收件人:</label> 
            {{target.name}}
        </div>
        <div class="row"></div>
        <input id="title" type="text" class="title" name="title" value="{{__ 'No title'}}" />
        <div class="message-editor">
            <textarea id="reply" name="content"></textarea>
        </div>
        <div class="row">
            <button class="button" type="submit">{{__ 'Submit'}}</button>
        </div>
    </form>
</div>