{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/user_libraries/tinymce/tinymce.pkg.js"></script>
<script src="/user_libraries/tinymce/editor.js"></script>
<script src="/javascripts/forum/topic-add.js"></script>
{{/content}}
{{!-- content --}}
<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i class="icon-chevron-right"></i>
        <a href="/channel/{{channel.id}}">{{channel.name}}</a>
        <i class="icon-chevron-right"></i>
        <a href="javascript:;">{{__ 'Add'}}</a>
    </div>
    <div class="topic-add-panel">
        <form id="topic-add" method="post" action="/topic/add">
            <input type="hidden" name="channel_id" value="{{channel.id}}" />
            <input class="title" type="text" name="title" placeholder="{{__ 'Title'}}" required="required" />
            <textarea id="editor" class="editor" name="content"></textarea>
            <div class="row">
                <button class="button" type="submit">{{__ 'Submit'}}</button>
            </div>
        </form>
    </div>
</div>