{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/javascripts/forum/topic.js"></script>
<script src="/javascripts/forum/comment.js"></script>
{{/content}}
{{!-- content --}}
<script>
    var topicId = {{post.id}},
        postId = {{post.postId}},
        TopicUserId = {{post.user_id}},
        channelId = {{channel.id}},
        isTop = {{post.top}};
</script>
<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i class="icon-chevron-right"></i>
        <a href="/channel/{{channel.id}}">{{channel.name}}</a>
        <i class="icon-chevron-right"></i>
        <a ng-href="/topic/{{post.id}}">{{post.title}}</a>
    </div>
    <div class="topic-panel">
        <h1 id="topic-id" class="title">{{post.title}}
            <span class="edit small" style="display:none;"><a href="/post/edit/{{post.postId}}"><i title="{{__ 'Edit'}}" class="icon-edit"></i></a></span>
        </h1>
        <div class="author">
            <div class="avatar"><img src="/user/avatar/{{post.user_id}}" width="32" height="32"></div>
            <a class="name" href="/user/{{post.user_id}}" target="_blank">{{post.user_name}}</a>
            <div class="created">{{post.created}}</div>
        </div>
        <div class="content">{{{post.content}}}</div>
    </div>
    <div class="comment-panel" data-topic="{{post.id}}"></div>
</div>