{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/javascripts/forum/topic.js"></script>
{{/content}}
{{!-- content --}}
<div class="main">
    <div class="breadcrumbs">
        <a href="{{siteurl}}">{{sitename}}</a>
        <i> &gt; </i>
        <a ng-href="/topic/{{post.id}}">{{post.title}}</a>
    </div>
    <div class="topic-panel">
        <div class="title">{{post.title}}</div>
        <div class="auth">
            <div class="avatar"><img src="/images/avatar.png" width="32" height="32"></div>
            <a class="name" href="/user/{{post.user_id}}" target="_blank">{{post.user_name}}</a>
            <div class="created">{{post.created}}</div>
        </div>
        <div class="content">{{{post.content}}}</div>
    </div>
</div>