{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/user_libraries/pagination/pagination.js"></script>
<script src="/javascripts/forum/channel.js"></script>
{{/content}}

<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i> &gt; </i>
        <a href="javascript:;">{{__ 'Profile'}}</a>
    </div>
    <div class="user-panel">
        <div class="row">
            <div class="avatar">
                <img src="/user/avatar/{{data.id}}" width="60" height="60" />
            </div>
            <div class="info">
                <ul>
                    <li>{{data.name}}</li>
                    <li>id: {{data.id}}</li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row center channel-panel">
            {{#each topics}}
            <div class="item">
                <a class="title pull-left" href="/topic/{{id}}">{{title}}</a>
                <div class="lastpost">{{created}}</div>
                <div class="count{{#if count}} has-new{{/if}} pull-right">{{count}}</div>
            </div>
            {{/each}}
        </div>
    </div>
</div>