{{!< ../layout}}
{{#content "pageStyles"}}
{{!-- page css --}}
{{/content}}
{{#content "pageScript"}}
<script src="/libraries/js-md5/js/md5.min.js"></script>
<script src="/javascripts/forum/user-register.js"></script>
{{/content}}

<div class="main">
    <div class="breadcrumbs">
        <a href="{{site.url}}">{{site.name}}</a>
        <i> &gt; </i>
        <a href="javascript:;">{{__ 'Register'}}</a>
    </div>
    <div class="user-panel">
        <form method="post" action="/user/register">
            <div class="row">
                <label for="email">E-Mail</label>
                <input id="email" class="txt" type="email" name="email" value="" placeholder="{{__ 'Email'}}" required="required" />
                <em id="email-warning" style="display:none;">{{__ 'Email'}}{{__ ' has been exists'}}</em>
            </div>
            <div class="row">
                <label for="username">{{__ 'Username'}}</label>
                <input id="username" class="txt" type="text" name="username" value="" placeholder="{{__ 'Between %d to %d letters' 3 15}}" required="required" />
                <em id="username-warning" style="display:none;">{{__ 'Username'}}{{__ ' has been exists'}}</em>
                <em id="namelength-warning" style="display:none;">{{__ 'Length of username is not fit'}}</em>
            </div>
            <div class="row">
                <label for="password">{{__ 'Password'}}</label>
                <input id="password" class="txt" type="password" name="password" value="" placeholder="{{__ 'No less %d letters' 6}}" pattern=".{6,}" required="required" />
                <em id="password-warning" style="display:none;">{{__ 'Twice password not match'}}</em>
            </div>
            <div class="row">
                <label for="repassword">{{__ 'Repeatpassword'}}</label>
                <input id="repassword" class="txt" type="password" value="" placeholder="{{__ 'Repeat password again'}}" required="required" />
            </div>
            <div class="row">
                <button type="submit">{{__ 'Register'}}</button>
            </div>
        </form>
    </div>
</div>