<!DOCTYPE html>
<html lang="cn-ZH">
    <head>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <title>{{site.name}}</title>

        <base href="{{site.url}}">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        {{{block "pageStyles"}}}
    </head>
    <body>
        <header>
            <a href="{{site.url}}" class="logo">
            {{#if site.logo}}
            <img src="{{site.logo}}" />
            {{else}}
            {{site.name}}
            {{/if}}
            </a>
            <div class="account">
                {{#if user}}
                <a id="message" class="message" href="javascript:;" target="_blank"></a>
                <div id="message-dialog" class="dialog message-dialog" style="display:none;">
                    <div class="count"><span></span> {{__ 'Message'}}</div>
                    <ul>
                        
                    </ul>
                    <script id="message-template" type="text/template">
                        <li><a href="/message/${id}" target="_blank">${title}</a></li>
                    </script>
                    <div class="view-all"><a target="_blank" href="/message/all">{{__ 'See all'}}</a></div>
                </div>
                <a id="account" class="avatar" href="javascript:;"><img src="/user/avatar/{{user.id}}" width="28" height="28" /></a>
                <div id="account-dialog" class="dialog account-dialog" style="display:none;">
                    <ul>
                        <li><a href="/user/setting"><i class="icon-cog"></i>{{__ 'Setting'}}</a></li>
                        <li><a href="/user/{{user.id}}"><i class="icon-user"></i>{{__ 'Profile'}}</a></li>
                        <li><a href="/user/logout"><i class="icon-off"></i>{{__ 'Logout'}}</a></li>
                    </ul>
                </div>
                {{{admin user.id}}}
                {{else}}
                <a href="/user/login">{{__ 'Login'}}</a> |
                <a href="/user/register">{{__ 'Register'}}</a>
                {{/if}}
            </div>
        </header>
        {{{body}}}
        <footer>
            <div class="powerby">power by <a href="{{site.url}}">{{site.name}}</a></div>
        </footer>
    </body>
</html>
<script src="/libraries/jquery/jquery.min.js"></script>
{{#script}}
<script src="/libraries/jquery-tmpl/jquery.tmpl.min.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/common.js"></script>
{{/script}}
{{#script}}
{{{block "pageScript"}}}
{{/script}}
<script>
    {{#if user}}
    var userId = {{user.id}};
    {{/if}}
</script>