<!DOCTYPE html>
<html lang="cn-ZH">
    <head>
        <meta charset='utf-8' />
        <title>diybb</title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        {{{block "pageStyles"}}}
    </head>
    <body>
        <header>
            <a href="{{siteurl}}" class="logo">
                <img src="/images/logo.png" alt="" />
            </a>
            <div class="account">
                <!--
                <a href="/login">{{__ 'Login'}}</a> |
                <a href="/register">{{__ 'Register'}}</a>
                -->
                <i class="icon-envelope"></i>
                <div id="message" class="message"></div>
                <div id="message-dialog" class="message-dialog" style="display:none;">
                    <div class="count">{{__ '%d Message' 3}}</div>
                    <ul>
                        
                    </ul>
                    <script id="message-template" type="text/template">
                        <li><a href="/message/${id}">${title}</a></li>
                    </script>
                    <div class="view-all"><a  href="/message">{{__ 'See all'}}</a></div>
                </div>
                <a class="avatar" href="/user/{{user 'id'}}"><img src="{{user 'avatar'}}" width="28" height="28" /></a>
            </div>
        </header>
        {{{body}}}
        {{#script}}
        <script src="/libraries/jquery/jquery.min.js"></script>
        <!-- <script src="/libraries/jquery/jquery.i18n.min.js"></script> -->
        <script src="/libraries/jquery-tmpl/jquery.tmpl.min.js"></script>
        <script src="/javascripts/common.js"></script>
        {{/script}}
        {{{block "pageScript"}}}
        
        <footer>
            <div class="powerby">power by <a href="{{siteurl}}">{{sitename}}</a></div>
        </footer>