<!DOCTYPE html>
<html lang="cn-ZH">
    <head>
        <meta charset='utf-8' />
        <title>diybb</title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        {{{block "pageStyles"}}}
    </head>
    <body>
        <header>
            <a href="{{site.url}}" class="logo">
                <img src="/images/logo.png" alt="" />
            </a>
            <div class="account">
                {{#if user}}
                <div id="message" class="message"></div>
                <div id="message-dialog" class="message-dialog" style="display:none;">
                    <div class="count"></div>
                    <ul>
                        
                    </ul>
                    <script id="message-template" type="text/template">
                        <li><a href="/message/${id}" target="_blank">${title}</a></li>
                    </script>
                    <div class="view-all"><a target="_blank" href="/message/list">{{__ 'See all'}}</a></div>
                </div>
                <a class="avatar" href="/user/{{user.id}}"><img src="/user/avatar/{{user.id}}" width="28" height="28" /></a>
                {{else}}
                <a href="/login">{{__ 'Login'}}</a> |
                <a href="/register">{{__ 'Register'}}</a>
                {{/if}}
            </div>
        </header>
        {{{body}}}
        <footer>
            <div class="powerby">power by <a href="{{site.url}}">{{site.name}}</a></div>
        </footer>
    </body>
</html>
<script src="/libraries/jquery/jquery.min.js"></script>
{{#script}}
<script src="/libraries/jquery-tmpl/jquery.tmpl.min.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/common.js"></script>
{{/script}}
{{#script}}
{{{block "pageScript"}}}
{{/script}}